@{
    ViewBag.Title = "Weather";
}

<h1>Search City and Get Weather Forecast</h1>
<div class="form-control">
    <form method="post" action="~/Weather/WeatherDetail">
        <div>
            <strong>City Name  :</strong><input name="City" type="text" />
            <br />
            <br />
            <button type="submit" class="btn btn-outline-success">Get Weather Forecast</button>
        </div>
    </form>
</div>

   